/* Fonts */
$font-size-base: 12px;
$line-height-base: calc(1.75 * $font-size-base);

/* Colors */


/* Spacing */
$space-unit: 1rem;
$space-xxs: calc(0.5 * $space-unit);
$space-xs: calc(0.75 * $space-unit);
$space-s: calc(1.25 * $space-unit);
$space-m: calc(2 * $space-unit);
$space-l: calc(3.25 * $space-unit);
$space-xl: calc(5.25 * $space-unit);

/* Padding */
$component-padding: $space-s;
